#popup-container {
  display: flex;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.popup-title-box {
    color: black;

    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.popup-content-box {
    color: black;

    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}