<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enfantTerrible.enfantTerrible.mapper.order.OrderItemMapper">

  <insert id="insertOrderItem">
    INSERT INTO et_order_item (
      order_id,
      sku_id,
      product_name,
      price,
      quantity
    ) VALUES (
      #{orderId},
      #{skuId},
      #{productName},
      #{price},
      #{quantity}
    )
  </insert>

</mapper>
